.wrapper{
    background-color: rgb(235, 235, 237);
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    border-top: 20px solid #00FF00;
}

.fw-bold{
    text-decoration: underline 5px solid #00FF00  !important;
}
